/* globals.css */

/* Tailwind base, components, and utilities import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
/* グローバルスタイルのリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ボディの背景色を白に設定 */
body {
  background-color: white;
}

/* 必要に応じて特定のスタイルを調整 */
img {
  display: block;
  margin: 0 auto;
}

/* 不要なストライプを消すための追加スタイル */
.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-container img {
  margin: 10px;
  background-color: transparent;
  border: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #d1f2dc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: #0070f3;
  font-weight: bold;
}

nav a:hover {
  color: #0e3a6c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

input[type="file"] {
  display: block;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: #0e3a6c;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
}
